#botonnota{

    width:300px;
    height: 100px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color: blue;
   font-weight: 800;
}

#a{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
#b{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
#c{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
#d{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
#e{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
#f{

    width:50px;
    height: 30px;
    font-size: 30px;
    border-color: blue;
font-style: oblique;
color:black;
   font-weight: 800;  
}
